.search {
  color: rgb(132, 139, 139);
  position: absolute;
  margin-top: 34px;
  margin-left: 20px;
}

.microphone {
  width: 20px;
  color: rgb(88, 80, 192);
  position: absolute;
  margin-top: 34px;
  margin-left: -40px;
}

.keyboard {
  width: 20px;
  color: rgb(132, 139, 139);
  position: absolute;
  margin-top: 34px;
  margin-left: -70px;
}