.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #1b1919;
  color: rgb(94, 94, 90);
}

.footer-itens1{
  display: flex;
  flex-direction: row;
  width: 100%;  
  height: 50px;
  border-bottom: 1px solid #717070;
}

.item span {
  margin: 10px;
  margin-top: 5px;
}


.footer-itens2{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}

.footer-itens2 .item{
  display: flex;
  flex-direction: row;
  align-items: center;
}



.footer-itens1 span {
  margin-left: 15px;
  margin-top: 15px;
}