.tabela {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  min-height: 50px;
  background-color: #2c2b2b;
}

.tabela Button {
  width: 280px;
  text-transform: lowercase;
  color:aliceblue;
  font-size: 20px;
  background-color: transparent;
}
